@charset "UTF-8";
* {
  font-family: 微軟正黑體;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

.mian {
  background-color: #222;
  position: relative;
}
 header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 99;
  background-color: rgba(34, 34, 34, 0.8);
  padding: 10px 0px;
}
.header_left {
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.header_left a {
  text-decoration: none;
  color: #eee;
}
.header_right {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}
.header_right #nav ul {
  margin-bottom: 0;
}
.header_right #nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 10px;
  vertical-align: middle;
}
.header_right #nav ul li a {
  text-decoration: none;
  color: #eee;
  letter-spacing: 1px;
}
 .at_top {
  background-color: transparent;
}
 section#index {
  position: relative;
}
 section#index img {
  width: 100%;
}
 section#index span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  font-size: 30px;
  font-weight: 900;
}
 section#index .explore {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #fff;
  top: 85%;
  transition: 0.5s;
}
 section#index .explore:after {
  content: "v";
  display: block;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: scaleX(1.2) scaleY(0.5) translateX(-50%);
}
 section#about {
  padding: 50px;
}
 section#about .container .row .col-sm-12 h2 {
  width: 100%;
  text-align: center;
  color: #fff;
}
 section#about .container .row .col-md-4 {
  padding: 20px 0px;
}
 section#about .container .row .col-md-4 div {
  max-width: 300px;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
 section#about .container .row .col-md-4 div img {
  width: 100%;
}
 section#about .container .row .col-md-8 {
  padding: 20px;
  color: #fff;
  opacity: 0;
  transition-duration: 0.5s;
}
 section#work {
  background-color: #fff;
  padding: 50px;
  color: #555;
}
 section#work .container .row .col-sm-12 {
  text-align: center;
  padding: 20px;
}
 section#work .container .row .col-md-4.col-sm-12 i {
  font-size: 40px;
  margin-bottom: 10px;
}
 section#work .container .row .col-md-4.col-sm-12 p {
  font-weight: 900;
  font-size: 24px;
}
 section#skill {
  color: #fff;
  padding: 50px;
}
 section#skill .container .row .col-sm-12 {
  text-align: center;
}
 section#skill .container .row .col-md-6.col-sm-12 {
  margin-bottom: 20px;
}
 section#skill .container .row .col-md-6.col-sm-12 div {
  height: 20px;
  border: 1px solid #fff;
}
 section#skill .container .row .col-md-6.col-sm-12 div .bar {
  width: 0;
  height: 100%;
  background-color: #fff;
  transition-duration: 0.5s;
}
 section#skill .container .row .col-md-6.col-sm-12 div .bar80 {
  width: 80%;
}
 section#skill .container .row .col-md-6.col-sm-12 div .bar70 {
  width: 70%;
}
 section#skill .container .row .col-md-6.col-sm-12 div .bar60 {
  width: 60%;
}
 section#works {
  background-color: #fff;
  padding: 50px;
}
 section#works .container .row .col-sm-12 {
  text-align: center;
  margin-bottom: 30px;
}
 section#works .container .row .col-md-4.col-sm-12 div {
  width: 100%;
  box-shadow: 0px 0px 2px #eee;
  transition-duration: 1s;
}
section#works .container .row .col-md-4.col-sm-12 div:hover {
  width: 100%;
  transform: translate(-5px, -5px);
  box-shadow: 2px 3px 2px #999;
}
.mian section#works .container .row .col-md-4.col-sm-12 div a img {
  width: 100%;
}
 section#contact {
  background-color: #000;
  color: #fff;
  padding: 50px;
}
 section#contact .container .row .col-sm-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
 section#contact .container .row .col-sm-12 a {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  border-radius: 50%;
  color: #fff;
  margin: 10px;
}
 section#contact .container .row .col-sm-12 a:hover {
  transform: scale(1.2);
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  background-color: #333;
}
 footer {
  background-color: #fff;
  text-align: center;
  padding: 5px;
}
 footer p {
  margin: 10px 0px;
}
 #topBtn {
  position: fixed;
  right: 20px;
  bottom: 50px;
}
 #topBtn div {
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
 #topBtn div .fas.fa-chevron-up {
  font-size: 30px;
}