.mian
  header.at_top
    .header_left
      a(href="") ching
    .header_right
      #nav
        ul
          li
            a(href="#about") ABOUT
          li
            a(href="#work") EXPERIENCE
          li
            a(href="#skill") SKILL
          li 
            a(href="#works") WORKS
          li
            a(href="#contact") CONTACT
  section#index
    img(src="https://www.mook.com.tw/images/upload/article/12868/A12868_1452848323_1.jpg", alt="")
    span LIAO, WEI-CHING
    .explore EXPLORE
    
  section#about
    .container
      .row
        .col-sm-12
          h2 ABOUT 
        .col-md-4.col-sm-12
          div
            img(src="https://res.cloudinary.com/atmos1128/image/upload/v1571302863/me/me01.png", alt="")
        .col-md-8.col-sm-12(data-bottom-top=" opacity: 0" 
                            data-center=" opacity: 1")
          p 家中經濟狀況普通，家人彼此相處極為融洽。由於父母的管教方式，個性上還算獨立自主、活潑開朗，也很隨和容易與人相處，平常喜歡運動，或利用假日和好友到郊外踏青。
          p 在學期間，雖非名列前茅，但一直保持中上程度。就學期間實習於各大醫療院所以及各科別，不敢說因此對護理有百分之百的了解，但是對於護理的基礎相對是有的，且每次實習中都有所進步，無論是說話的技巧，或是適時傾聽、澄清、提供資訊，都讓我建立良好的護病關係在工作方面，因此我相信今後不論所擔任的職務性質為何，我都能努力學習，尤其更相信只要團隊合作，一定解決得了任何的問題，並且順利完成任務。
          p 踏入職場也有一小段時日了，但我想趁年輕時繼續挑戰更多不可能的任務，因個人興趣因此我報名了資策會的java課程並學習了HTML5、SQL Server及Android的課程，在這一系列的課程中，發掘了我對前端的興趣，也於某某公司就職一年的前端工程師，平時會藉由空閒時間繼續學習，也參與了第11屆iT邦幫忙鐵人賽，希望貴公司能給我這寶貴的機會。
              
  section#work
    .container
      .row
        .col-sm-12
          h2 WORK EXPERIENCE
        .col-md-4.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity: 0" 
                            data-center="transform: translateY(0px); opacity: 1")
          i.fas.fa-hospital-alt
          p 信望愛私立老人養護中心
          span 於此擔任三年護理師，照顧中老年人、行動不便及長期臥床者，曾參與過老人福利機構評鑑，助機構拿取甲等佳績。
        .col-md-4.col-sm-12(data-bottom-top="transform: translateY(-50px);opacity: 0" 
                            data-center="transform: translateY(0px); opacity: 1")
          i.fas.fa-baby
          p 大語托嬰中心
          span 於此擔任托嬰中心老師，照顧嬰幼兒、觀察孩子們的成長狀況，並且與父母親一同討論。
        .col-md-4.col-sm-12(data-bottom-top="transform: translateY(-50px); opacity: 0"
                            data-center="transform: translateY(0px); opacity: 1")
          i.fas.fa-laptop-code
          h2 大創娃娃屋
          span 於此擔任一年前端工程師，並一同參予關網製作和大小活動之規畫。
          
  section#skill
    .container
      .row
        .col-sm-12
          h2 SKILL
        .col-md-6.col-sm-12
          p html
          div
            .bar#bar-1
        .col-md-6.col-sm-12
          p css
          div
            .bar#bar-2
        .col-md-6.col-sm-12
          p javascript
          div
            .bar#bar-3
        .col-md-6.col-sm-12
          p jquery
          div
            .bar#bar-4
        .col-md-6.col-sm-12
          p sass
          div
            .bar#bar-5
        .col-md-6.col-sm-12
          p vue.js
          div
            .bar#bar-6
        .col-md-6.col-sm-12
          p git
          div
            .bar#bar-7
        
  section#works
    .container
      .row
        .col-sm-12
          h2 WORKS
        .col-md-4.col-sm-12
          div
        .col-md-4.col-sm-12
          div
        .col-md-4.col-sm-12
          div
        
  section#contact
    .container
      .row
        .col-sm-12
          h2 CONTACT        
        .col-sm-12
          a(href="https://www.facebook.com/xiang.gu.144")
            .fab.fa-facebook-f
          a(href="")
            .fab.fa-github
  footer
    .container
      p 2019 © ching All rights reserved.
  #topBtn
    div
      .fas.fa-chevron-up
        